/* Container */
/* div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
} */

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}

.form-field {
    padding: 10px;
    margin: 5px;
    width: calc(100% / 4 - 20px);  /* Adjust based on number of fields per row */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    appearance: none; /* For consistent select styling */
}


/* Create / Update Button */
button {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #00bfa6;
    color: #fff;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #058b79;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fafafa;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #001F3F;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Action Buttons */
td button {
    background-color: #28a745;
    margin-right: 5px;
}

td button:last-child {
    background-color: #dc3545;
}

td button:hover {
    opacity: 0.8;
}