
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #014362,#022c43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color:white;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color:white;
  margin-bottom: 25px;
}

button {
  background-color:#00bfa6;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#02312b;
}